body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

body {
    background-image: url('pastel.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

/* Styling for tables */
#topAttributesTable {
    border-collapse: collapse;
    width: 100%;
    background-color: #f9f9f9; /* Light grey background */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Slight shadow for depth */
    margin-top: 20px;
}

#topAttributesTable thead th {
    background-color: #2366aa; /* Green header for contrast */
    color: white;
    text-align: left;
    padding: 12px 15px;
    border-bottom: 2px solid #ddd;
}

#topAttributesTable tbody td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd; /* Slight border for each cell for readability */
}

#topAttributesTable tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Zebra striping for rows */
}

#topAttributesTable tbody tr:hover {
    background-color: #ddd; /* Hover effect for rows */
}

  

#screePlot, #biPlot, #scatterplotMatrix, #kmeansPlot {
    width: 700px;
    height: 700px;
    border: 3px solid #ccc;
}

.dot {
    fill: #4285F4;
    stroke: #fff;
    stroke-width: 1.5px;
}

.vector {
    stroke: red;
    stroke-width: 2;
}

svg {
    font-family: 'Arial', sans-serif;
}

.axis text {
    font-size: 12px;
    color: #333;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.bar:hover {
    fill: orange;
}

.dot {
    stroke: #fff;
}

text {
    font-size: 12px;
}

.plot-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}


.plot {
    width: 100%; /* Fixed width for each plot */
    height: auto; /* Fixed height for each plot */
    margin: 10px; /* Spacing between plots */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  
@media (max-width: 768px) {
    #dashboard-container {
        margin: 10px;
    }

    .plot-container {
        grid-template-columns: 1fr;
    }

    #topAttributesTable thead th,
    #topAttributesTable tbody td {
        padding: 8px 10px;
    }
}

#dashboard-container {
    margin: 20px;
}



