<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PCA Visualization</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
    <div id="attributesTableContainer"></div>
    <div class="plot-container">
        <div id="screePlot" class="plot"></div>
        <div id="scatterplotMatrix" class="plot"></div>
        <div id="kmeansPlot" class="plot"></div>
        <div id="biPlot" class="plot"></div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
